body {
    margin: 0;
    font-family: "Open Sans", Tahoma, Arial;
    
}

header {
    background: rgba(0,0,0, 0.8);
    padding: 15px 20px 10px; /* margem interna */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    z-index: 99;
    border-bottom: 1px solid #000;

    }

    header nav {
        float: right;
        
        }


    .menu {
        display: none;
        text-decoration: nome;
        color:#FFF;
        font-size: 2em;
        float: right;
        border: 2px solid #FFF;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        
        }


    header nav ul li {
        
        margin-top: 25px;
        margin-left: 15px;
        display: inline-block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

        }

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }


 header nav ul li a {
 color: #FFF;
 text-transform: uppercase;
 font-weight:600;
 font-size: 1.2em;
text-decoration: none;
transition: color 0.5s;

} 



 header nav a:hover {
    color: rgb(91, 70, 114);
  }

  .banner {
    width: 100%;
    height: 800px; /* altura */
    background-image: url(../imagens/banner.jpg);
    background-size: cover;
    display: inline-block;
    padding-top: 20%; 
    text-align: center;
    }

    .banner h2{
        color: #F00;
        font-size: 2.5em;
        }

    .banner p{
         color: #FFF;
         font-size: 1.5em;
         line-height: 30px;
            
            }
            
      .botao {

                color: #F00;
                text-decoration: none;
                border: 1px solid #F00;
                padding: 10px; /* margem interna */
                border-radius: 5px;
                transition: all 0.5s; /* transição da cor do botao */
                
                }

      .botao:hover {
                    background-color: #F00;
                    color: #FFF;
                    }

    section {
                        padding: 50px 0;
                        
                        }

            h1 {
                display: block;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
                 section h1, .space h1, .top h1 {
                font-size: 2.5em;
                color: #F00;
                text-align: center;
                text-transform: uppercase;
                }

                .container, .solucao{
                width: 960px;
                margin: auto;
                }

                 .grid, .solucao {
                display: grid;
                grid-template-columns: repeat(3, 320px);
                }

               .grid .coluna, .solucao {
                text-align: center;
                 margin: 10px;
                }

                #time {
                background-image: url(../imagens/bg.jpg);
                background-size: cover;
                background-attachment: fixed;
                }

                .img {
                    width: 100%;
                }


                .card {
                 background-color: #FFF;
                 border-radius: 5px;
                 padding-bottom: 10px;
                }


                 .card img {
                 border-radius: 5px 5px 0 0;
                 }

                #Blog .card {
                 box-shadow: 0 0 5px #333;
                }
                         
                
                 #Blog p {
                line-height: 25px;

                  }



                .space {
                padding-top: 110px;

                       }


                .top{
                padding-top:110px;
                text-align: center;
                                   
                                }

               input, textarea {
                border: 1px solid #cdcdcd;
                padding: 10px;
                color: #333;
                margin-bottom: 10px;
                width: 100%;
                font-family: "Open Sans";
                border-radius: 5px;
               }

               .social {
                width: 30px;
                height: 30px;
                border: 1px solid #F00;
                color:#F00;
                display: inline-block;
                line-height: 30px;
                border-radius: 100%;
                margin: 15px;
                 }

            .social:hover {
                background-color: #F00;
                color:#FFF;
                }

            #serviços {
                margin-top: 160px;
                }

            
            footer {
                background: black;
                color: #FFF;
                text-align: center;
                padding: 10px 0;
                margin-top: 100px;
                 width: 100%;
                }


             footer a {
             text-decoration: none;
                 }
           

      